<header class="Cabecera">
    <h3>EMPLEADOS</h3>
</header>
<table>
    <thead>
        <tr>
            <th> # </th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Pais</th>
            <th>Estado</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>sueldo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 1 </td>
            <td>Jose Montes Flores</td>
            <td>23</td>
            <td>Masculino</td>
            <td>Mexico</td>
            <td>Oaxaca</td>
            <td>Lomas verdes #21</td>
            <td>9514785697</td>
            <td>jose@gmail.com</td>
            <td>$ 1254</td>
        </tr>
        <tr>
            <td> 2 </td>
            <td>Maria Rosales Mar</td>
            <td>25</td>
            <td>Femenino</td>
            <td>Mexico</td>
            <td>Oaxaca</td>
            <td>Hidalgo santos #74</td>
            <td>9538796423</td>
            <td>mari@gmail.com</td>
            <td>$ 2052</td>
        </tr>
    </tbody>
</table>
<button class="button" href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Editar
</button>