<div class="login-box">
    <h2>Login</h2>
    <h3>Dueño</h3>
    <h3>Empleados</h3>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
        </div>
        <button href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Entrar
        </button>
    </form>
</div>