<header class="Cabecera">
    <h3>VEHICULOS REGISTRADOS EN LA TIENDA</h3>
</header>
<table>
    <thead>
        <tr>
            <th> # </th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Color</th>
            <th>Carroceria</th>
            <th>Existencia</th>
            <th>Descripcion</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 1 </td>
            <td>Wolkswagen</td>
            <td>virtus</td>
            <td>2022</td>
            <td>Azul</td>
            <td>Sedan</td>
            <td>5</td>
            <td>4 cilindros - 6 velocidades</td>
            <td>$ 349 900</td>
        </tr>
        <tr>
            <td> 2 </td>
            <td>Wolkswagen</td>
            <td>Tiguar</td>
            <td>2019</td>
            <td>Negro</td>
            <td>SUV</td>
            <td>3</td>
            <td>4 cilindros - 6 velocidades</td>
            <td>$ 515 000</td>
        </tr>
    </tbody>
</table>
<button class="button" href="#">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Editar
</button>