<div class="nav-container">
    <div class="nav-box right">
        <ul class="nav-menu">
            <li><a class="button" href="login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    INICIAR SESION
            </a></li>
            <li><a class="button" href="registro">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    REGISTRARSE
            </a></li>
        </ul>
    </div>
</div>

<div class="galeria">
    <div class="imagen"></div>
    <div class="imagen"></div>
    <div class="imagen"></div>
    <div class="imagen"></div>
    <div class="imagen"></div>
</div>