<div class="modal-content">
    <h2>CREDITO</h2>
    <form>
        <div class="user-box">
            <input [(ngModel)]="creditos.numero" type="number" name="numero">
            <label>Numero de targeta</label>
        </div>
        <div class="user-box">
            <input [(ngModel)]="creditos.nombre" type="text" name="nombre">
            <label>Propietario</label>
        </div>
        <div class="user-box">
            <input [(ngModel)]="creditos.fecha" type="text" name="fecha">
            <label>Fecha de vencimiento</label>
        </div>
        <div class="user-box">
            <input [(ngModel)]="creditos.password" type="number" name="password">
            <label>CVV</label>
        </div>
        <button (click)="verificarCredito()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Aceptar
        </button>
    </form>
</div>